<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://developer.api.autodesk.com/modelderivative/v2/viewers/7.0.*/style.min.css" type="text/css">
    <title>Preview: <%= name %></title>
    <style>
        html, body {
            margin: 0;
            padding: 0;
        }

        body {
            color: var(--vscode-editor-foreground);
            background-color: var(--vscode-editor-background);
        }
    </style>
</head>
<body>
    <div id="viewer"></div>
    <script src="https://developer.api.autodesk.com/modelderivative/v2/viewers/7.0.*/viewer3D.min.js"></script>
    <script>
        //const vscode = acquireVsCodeApi();
        const container = document.getElementById('viewer');
        const options = {
            env: 'AutodeskProduction',
            getAccessToken: function (callback) {
                callback('<%= token.access_token %>', 3600);
            }
        };
        let viewer;

        Autodesk.Viewing.Initializer(options, function() {
            viewer = new Autodesk.Viewing.Private.GuiViewer3D(container);
            viewer.start();
            Autodesk.Viewing.Document.load('urn:<%= urn %>', onDocumentLoadSuccess, onDocumentLoadFailure);
        });

        function onDocumentLoadSuccess(doc) {
            const node = doc.getRoot().findByGuid('<%= guid %>');
            if (node) {
                viewer.loadDocumentNode(doc, node);
            } else {
                container.classList.add('alert', 'alert-warning');
                container.innerText = 'Viewable not found';
            }
        }

        function onDocumentLoadFailure(err, msg) {
            container.classList.add('alert', 'alert-danger');
            container.innerText = `Document loading failed (${msg})`;
        }
    </script>
</body>
</html>