doctype html
html(lang='en')
  head
    include partials/head.pug
    title Visual Studio Code Forge Tools: Login
  body.bg-light
    .container
      .row
        .col
          h1.display-3 Visual Studio Code Forge Tools
          h1.display-4 Login
          p Retrieving the token...
    include partials/scripts.pug
    script.
      const baseUrl = window.location.protocol + '//' + window.location.hostname + ':' + window.location.port;
      const { hash } = window.location;
      const params = new Map();
      hash.substr(1).split('&').forEach(pair => {
        const tokens = pair.split('=');
        if (tokens.length === 2) {
          params.set(tokens[0], tokens[1]);
        }
      });
      const url = new URL(baseUrl + '/vscode-forge-tools/auth/save');
      url.searchParams.set('access_token', params.get('access_token'));
      url.searchParams.set('expires_in', params.get('expires_in'));
      url.searchParams.set('token_type', params.get('token_type'));
      window.location.replace(url.toString());
