doctype html
html(lang='en')
  head
    include partials/head.pug
    title Visual Studio Code Forge Tools: Login
  body.bg-light
    .container
      .row
        .col
          h1.display-3 Visual Studio Code Forge Tools
          h1.display-4 Login
          p #{message}
          p You can close this page now.
    include partials/scripts.pug
