<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://developer.api.autodesk.com/modelderivative/v2/viewers/6.*/style.min.css" type="text/css">
    <title>Object: <%= object.objectKey %></title>
    <style>
        html, body {
            margin: 0;
            padding: 0;
        }

        #viewable {
            position: absolute;
            left: 1em;
            top: 1em;
            z-index: 1;
        }
    </style>
</head>
<body>
    <div id="viewer"></div>
    <select name="viewable" id="viewable">
    </select>
    <script src="https://developer.api.autodesk.com/modelderivative/v2/viewers/6.*/viewer3D.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script>
        const vscode = acquireVsCodeApi();
        const urn = btoa('<%= object.objectId %>').replace(/=/g, '');
        const documentId = 'urn:' + urn;

        function showTranslationButton() {
            document.getElementById('viewable').style.display = 'none';
            document.getElementById('viewer').innerHTML = `
                Document does not seem to be translated yet.
                <button id="translate">Translate</button>
            `;
            document.getElementById('translate').addEventListener('click', async function() {
                document.getElementById('viewer').innerText = 'Translating';
                vscode.postMessage({
                    command: 'translate',
                    urn: urn
                });

                window.addEventListener('message', event => {
                    const message = event.data; // The JSON data our extension sent
                    switch (message.command) {
                        case 'progress':
                            document.getElementById('viewer').innerText = `Translating (${message.progress})`;
                            break;
                        case 'reload':
                            viewerApp.loadDocument(documentId, onDocumentLoadSuccess, onDocumentLoadFailure);
                            break;
                    }
                });
            });
        }

        let viewerApp;
        const options = {
            env: 'AutodeskProduction',
            accessToken: '<%= token.access_token %>'
        };

        Autodesk.Viewing.Initializer(options, function() {
            viewerApp = new Autodesk.Viewing.ViewingApplication('viewer');
            viewerApp.registerViewer(viewerApp.k3D, Autodesk.Viewing.Private.GuiViewer3D);
            viewerApp.loadDocument(documentId, onDocumentLoadSuccess, onDocumentLoadFailure);
        });

        function onDocumentLoadSuccess(doc) {
            const viewables = viewerApp.bubble.search({ 'type': 'geometry' });
            if (viewables.length > 0) {
                const select = document.getElementById('viewable');
                select.innerHTML = viewables.map(item => `<option value="${item.data.guid}">${item.data.guid}</option>`).join('');
                select.addEventListener('change', function() {
                    viewerApp.selectItem(viewables[select.selectedIndex].data, onItemLoadSuccess, onItemLoadFail);
                });
                viewerApp.selectItem(viewables[select.selectedIndex].data, onItemLoadSuccess, onItemLoadFail);
            } else {
                showTranslationButton();
            }
        }

        function onDocumentLoadFailure(viewerErrorCode) {
            //document.getElementById('logs').innerText = 'onDocumentLoadFailure() - errorCode:' + viewerErrorCode;
            showTranslationButton();
        }

        function onItemLoadSuccess(viewer, item) {
              // item loaded, any custom action?
        }

        function onItemLoadFail(errorCode) {
            //document.getElementById('logs').innerText = 'onItemLoadFail() - errorCode:' + viewerErrorCode;
        }
    </script>
</body>
</html>