doctype html
html(lang='en')
  head
    include partials/head.pug
    title Workitem: #{activity.id}
  body
    form
      .form-group.row
        // Activity ID
        label.col-sm-2.form-label(for='activity-id') Activity
        .col-sm-10
          input#activity-id.form-control(type='text', value=activity.id, readonly)
      if activity.parameters
        .form-group.row
          label.col-sm-2.form-label(for='parameters') Parameters
          .col-sm-10
            table#parameters.table.table-sm.table-bordered
              thead
                tr
                  th(scope='col') Name
                  th(scope='col') Value
                  th(scope='col') Verb
                  th.small(scope='col') Optional
                  th(scope='col') Local Name
                  th(scope='col') Path in Zip
                  th(scope='col') Headers
              tbody
                each param in Object.keys(activity.parameters)
                  tr
                    td
                      input.form-control(type='text', name='param-name', value=param, readonly)
                    td
                      input.form-control(type='text', name='param-value', value='', placeholder='Value')
                    td
                      select.form-control(name='param-verb')
                        option(value='get', selected=(!activity.parameters[param].verb || activity.parameters[param].verb === 'get')) Get 
                        option(value='put', selected=(activity.parameters[param].verb === 'put')) Put
                        option(value='post', selected=(activity.parameters[param].verb === 'post')) Post
                        option(value='patch', selected=(activity.parameters[param].verb === 'patch')) Patch
                        option(value='read', selected=(activity.parameters[param].verb === 'read')) Read
                    td
                      input.form-control(type='checkbox', name='param-optional')
                    td
                      input.form-control(type='text', name='param-local', value='', placeholder='Local Name')
                    td
                      input.form-control(type='text', name='param-pathinzip', value='', placeholder='Path in Zip')
                    td
                      input.form-control(type='text', name='param-headers', value='', placeholder='HeaderA:ValueA;HeaderB:ValueB')
      .form-group.row
        .col
          button#start.btn.btn-primary(type='button') Run
          button#cancel.btn.btn-secondary(type='button') Cancel
    include partials/scripts.pug
    script
      include scripts/workitem-details.js
